 <div class="container login-form">
  <div>
    <img src="img/big-logo.png" class="big-logo" />
      <input type="text" name="email" placeholder="email" ng-model='user.email'/>
      <input type="password" name="password" placeholder="password" ng-model='user.password'/>
      <input type="button" name="login" value="Sign In" ng-click="signIn()"/>
    <div class="link">
      <p>
        Don't have account? Feel Free to <a href="#">Register</a>  
      </p>
      <p>
        Forgot Your Password? Click <a href="#">here</a>
      </p>
    </div>
  </div>
</div>